.navigation {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 2em;
    
}

.navigation ul {
    display: flex;
    width: 300px;
    height: 70px;
    background: rgba(79, 195, 220, 0.1);
    border-top: 1px solid var(--bubble1);
    border-left: 1px solid var(--bubble1);
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--bubble1);
    border-radius: 50%;
    border: 6px solid var(--bg);
    transition: 0.5s;
}

.indicator::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -22.1px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-right-radius: 20px;
    box-shadow: 01px -10px 0 0 var(--bg);
}

.indicator::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: -22.1px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--bg);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}


@media (max-width: 576px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        margin-bottom: 2em;
    }

    .indicator {
        position: absolute;
        top: 50px;
        width: 70px;
        height: 70px;
        background: var(--bubble1);
        border-radius: 50%;
        border: 6px solid var(--bg);
        transition: 0.5s;
    }
    
}